*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/mainBackImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 80%;
    height: 100vh;
    margin:0 auto;
    position: relative;
    &__header{
        padding-top: 20px;
        margin-bottom: 40px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    &__labelBlock{
        display: flex;
    }
    &__icon{
        background-image: url('./img/label_1.png');
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        color: #3d6ca0;
    }
    &__infoUserBlock{
        display: flex;
    }
    &__locationLogo{
        background-image: url('./img/location.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        &:hover{
            cursor: pointer;
        }
    }
    &__currentLocation{
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3d6ca0;
    }
    &__language{
        width: 30px;
        height: 30px;
        border: 1px solid #3d6ca0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3d6ca0;
        &:hover{
            cursor: pointer;
        }
    }
}
.main {
    width: 556px;
    margin: 0 auto;
    &__form{
        margin-bottom: 30px;
    }
    &__input{
        width: calc(100% - 45px);
        background-color: transparent;
        border: none;
        &:focus{
            outline: none;
        }
    }
    &__recentlyFoundCities{
        display: flex;
        gap: 20px;
    }
    &__historyTitle{
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        color: #3d6ca0;
    }
}
.form__background{
    background-color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    line-height: 1;
    &:hover{
        cursor: pointer;
    }
}
.recentlyFoundCities{
    min-width: 172px;
    background-color: #235383;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 80%;
    &__header{
        margin-bottom: 3px;
    }
    &__city {
        font-size: 22px;
        margin-bottom: 5px;
    }
    &__country{
        font-size: 14px;
    }
    &__weather{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__icon{
        background-image: url('./img/WeatherIcon - 1-32.svg');
        background-repeat: no-repeat;
        height: 32px;
        width: 38px;
        margin-right: 10px;
    }
    &__temp{
        height: 38px;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }
    &__feelsLike{
        font-size: 12px;
    }
}
.container__footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer {
    font-size: 16px;
    color: #fff;
    padding: 10px;
}