$mainColor: #3d6ca0;
$secondColor: #235383;
$fontColor: #ffffff;
$maxWidth: 644px;

$headerFontSize: 32px;
$mainFontSize: 16px;
$supportFontSize: 10px;

@mixin flexAlignPosition{
    display: flex;
    align-items: center;
}
